<div>
<!-- About Begin -->
  <section id="about" class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <img style="margin-top: -40px" src="public/img/user-image.jpg" alt="" class="img-circle">
          <h2 style="margin-top: 50px" class="section-heading">Omer Turner</h2>
          <hr class="light">
          <p class="text-faded">
            I'm a Full-Stack Web Developer from Tel Aviv, Israel<br>
            I enjoy learning about new technologies and fascinated by Design<br>
            I keep my code elegent and efficient<br>
            When I'm not developing I like exercising, traveling and eating good food
          </p>
          <a href="https://www.linkedin.com/profile/view?id=AAMAABj8ILkBp8uXKRtKS7DECtNWVOLpYAbHWIM" target="__blank" class="white-anchor ">
            <span data-wow-delay=".2s" class="wow bounceIn symbol" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;" >
              circlelinkedin
            </span>
          </a>
          <a href="https://www.github.com/omerturner" target="__blank" class="white-anchor ">
            <span data-wow-delay=".2s" class="wow bounceIn symbol" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;" >
              circlegithubalt
             </span>
           </a>
           <a href="https://www.facebook.com/omer.turner" target="__blank" class="white-anchor ">
            <span data-wow-delay=".2s" class="wow bounceIn symbol" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;" >
              circlefacebook
             </span>
           </a>
        </div>
      </div>
    </div>
  </section>
<!-- About End -->
</div>

