<div>
<!-- About Begin -->
  <section id="about" class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <img style="margin-top: -40px" src="public/img/user-image.jpg" alt="" class="img-circle">
          <h2 style="margin-top: 50px" class="section-heading">Omer Turner</h2>
          <hr class="light">
          <p class="text-faded">Labore XOXO kogi, laborum tousled assumenda sriracha before they sold out. Labore mlkshk Helvetica Marfa health goth Austin magna sunt, yr aesthetic artisan heirloom chillwave commodo lo-fi.</p>
          <a href="#skills" class="page-scroll btn btn-default btn-xl">Programming Skills</a>
        </div>
      </div>
    </div>
  </section>
<!-- About End -->
</div>

