<div>
<!-- Contact Begin -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Contact Me</h2>
          <hr class="primary"/>
          <p>You may contact me via Phone or E-Mail</p>
        </div>
        <div class="col-lg-4 col-lg-offset-2 text-center"><i class="fa fa-phone fa-3x wow bounceIn"></i>
          <p>050-565-3223</p>
        </div>
        <div class="col-lg-4 text-center"><i data-wow-delay=".1s" class="fa fa-envelope-o fa-3x wow bounceIn"></i>
          <p><a href="mailto:omerturner@gmail.com">Email me!</a></p>
        </div>
      </div>
    </div>
  </section>
<!-- Contact End -->
</div>