<div>
<!-- Skills Begin -->
  <section id="skills">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
        <h2 class="section-heading">Programming Skills</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-code wow bounceIn text-primary" style="visibility: visible; animation-name: bounceIn;"></i>
            <h3>Web Development</h3>
            <p class="text-muted"> Html, CSS, JavaScript, JQuery</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i data-wow-delay=".1s" class="fa fa-4x fa-android wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
            <h3>Mobile</h3>
            <p class="text-muted">Custom analytics, just for you.  Analyze past results, predict future performance.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i data-wow-delay=".1s" class="fa fa-4x fa-sitemap wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
            <h3>OOP</h3>
            <p class="text-muted">Custom analytics, just for you.  Analyze past results, predict future performance.</p>
          </div>
        </div>        
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i data-wow-delay=".1s" class="fa fa-4x fa-git-square wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
            <h3>Git</h3>
            <p class="text-muted">Custom analytics, just for you.  Analyze past results, predict future performance.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
          <i data-wow-delay=".2s" class="fa fa-4x fa-database wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;"></i>
          <h3>Database</h3>
          <p class="text-muted">Your next workout is waiting.  Set goals, and access metrics right from the gym.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i data-wow-delay=".3s" class="fa fa-4x fa-terminal wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceIn;"></i>
            <h3>Console</h3>
            <p class="text-muted">We protect your data with the utmost integrity.  Your privacy is our priority.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Skills End -->
</div>