<div>
<!-- Skills Begin -->
  <section id="skills">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
        <h2 class="section-heading">Coding Experience</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-code wow bounceIn text-primary" style="visibility: visible; animation-name: bounceIn;"></i>
            <h3>Web Development</h3>
            <p class="text-muted">
              Acquainted with the latest Frontend/Backend tools
              Such as Html, CSS, JavaScript, JQuery, Ajax, NodeJs, Python
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i data-wow-delay=".1s" class="fa fa-4x fa-mobile wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
            <h3>Responsive Design</h3>
            <p class="text-muted">
              Cross Platform Development for various Screen sizes and various browsers
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i data-wow-delay=".1s" class="fa fa-4x fa-sitemap wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
            <h3>Frameworks</h3>
            <p class="text-muted">
              Knowladge in up-to-date Frameworks<br>
              Such as AngularJs, Express, Django, Bootstrap

            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i data-wow-delay=".1s" class="fa fa-4x fa-git-square wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
            <h3>Git</h3>
            <p class="text-muted">
              Experience with handling a large scale projects with a team of developers using VCS
              Maintaining a personal Github rapository
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
          <i data-wow-delay=".2s" class="fa fa-4x fa-database wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;"></i>
          <h3>Database</h3>
          <p class="text-muted">
            Experience with both MySQL and NOSQL<br>
            Such as MySQL, SQLite, Elastic Search, MongoDB
          </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i data-wow-delay=".3s" class="fa fa-4x fa-terminal wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceIn;"></i>
            <h3>Console</h3>
            <p class="text-muted">
              Mainly working upon a Unix OP<br>
              Familiarity with Terminal usage and SSH Connections
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Skills End -->
</div>