
.carousel-indicators {
  margin-bottom: -10px;
}

.carousel-indicators li,
.carousel-indicators .active{
  margin-left: 2.5px;
}

.portfolio-box {
  cursor: pointer;
}

.work-desc,
.work-link {
  margin-top: 10px;
}

.work-link {
  margin-right: 10px;
}

// BOOTSTRAP-MODAL

@media only screen and (min-width : 1000px) and (max-width : 1400px) {
  .modal-dialog {
    width: 500px;
  }
}

@media only screen and (min-width : 1400px) {
  .modal-dialog {
    width: 900px;
  }
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 5em;
    margin: 0 6px;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

a.symbol {
    background: #9f9f9f;
    padding: 7px 5px 3px 5px;
    color: white;
    text-decoration: none;
}

.white-anchor {
  text-decoration: none;
  color: white;
}

.white-anchor:hover {
  text-decoration: none;
  color: rgba(255,255,255, .6);
}